.map-state {

  .map-outline {

    .map-outline-shape {

      stroke: #FFF;
      stroke-width: 3;
      stroke-opacity: 0.4;
      fill: #33465c;
      fill-opacity: 0;
      stroke-miterlimit: 10;
      stroke-dasharray: 3689.630126953125;
      stroke-dashoffset: -3689.630126953125;

    }

    .map-outline-points {

      fill: #FFF;

    }

  }

}