.media {

  .slab {

    cursor: pointer;

    .slab-face {

      fill: #D01B68;
      stroke: #FFF;
      stroke-width: 3;
      stroke-miterlimit: 3;
      stroke-opacity: 0;

    }

    .slab-thumb {
      opacity: 0.2;
    }

    &:hover {

      .slab-face {
        stroke-opacity: 1;
      }

      

      

    }

  }

  .controls {

    .btn-controls {

      cursor: pointer;

    }
  }

}

#media-viewer {

  position: fixed;
  top: 100px; bottom: 100px;
  left: 200px; right: 200px;
  background: #000;
  transform: translate3d(0,2500px,0);
  transition: all 1.2s cubic-bezier(0.860, 0.000, 0.070, 1.000); 
  
  .media-viewer-content {

    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    

  }

  &.active {

    transform: translate3d(0,0,0);

  }

  &.ready {

    .media-viewer-content {
      opacity: 1;
      transition: all 0.5s;
    }
  }

}

